.itemName {
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-top: 60px;
}

.itemDescription {
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100vw;
  margin-top: 100px;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-menu {
  list-style: none;
  padding: 0;
}

.footer-menu li {
  display: inline;
  margin: 0 10px;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
}